/* Global set up */
.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Hero */
.hero {
  background: url('/images/block_bg/Hero.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  color: white;
  @extend .center;
}

.hero-overlay {
  opacity: 0.9;
  background-image: -moz-linear-gradient(right, #bb4242 0%, #efab4a 100%);
  background-image: -o-linear-gradient(right, #bb4242 0%, #efab4a 100%);
  background-image: -webkit-linear-gradient(right, #bb4242 0%, #efab4a 100%);
  background-image: linear-gradient(right, #bb4242 0%, #efab4a 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

hr {
  height: 2px;
  width: 8%;
  color: #fff;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Navigation */

.navigation .menu-icon {
  color: white;
  font-size: 26px;
  line-height: 1em;
  position: absolute;
  left: 100%;
  padding: 20px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

.navigation .menu-icon.active {
  color: #fff;//dodato
  background-color: rgba(0,0,0, 0.3);
}
.navigation .menu-icon:hover {
  color: #fff;
  background-color: rgba(9, 9, 20, 0.5);

}

.navigation.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 3;
  width: 200px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);

  -webkit-transition: all 0.9s ease-in-out;
  -moz-transition: all 0.9s ease-in-out;
  -ms-transition: all 0.9s ease-in-out;
  -o-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;

}

.navigation ul {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background: #222;
}
.navigation ul li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.navigation ul li a {
  display: block;
  height: 100%;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
}

.navigation ul li a.current,
.navigation ul li a:hover {
  color: #222;
  background-color: white;
}

