
@font-face {
  font-family: 'ambleRegular';
  src: url('/fonts/Amble/Regular/Amble-Regular-webfont.eot');
  src: url('/fonts/Amble/Regular/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Amble/Regular/Amble-Regular-webfont.woff') format('woff'),
  url('/fonts/Amble/Regular/Amble-Regular-webfont.ttf') format('truetype'),
  url('/fonts/Amble/Regular/Amble-Regular-webfont.svg#ambleRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Amble Bold */
@font-face {
  font-family: 'ambleBold';
  src: url('/fonts/Amble/Bold/Amble-Bold-webfont.eot');
  src: url('/fonts/Amble/Bold/Amble-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Amble/Bold/Amble-Bold-webfont.woff') format('woff'),
  url('/fonts/Amble/Bold/Amble-Bold-webfont.ttf') format('truetype'),
  url('/fonts/Amble/Bold/Amble-Bold-webfont.svg#ambleBold') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Amble Light */
@font-face {
  font-family: 'ambleLight';
  src: url('/fonts/Amble/Light/Amble-Light-webfont.eot');
  src: url('/fonts/Amble/Light/Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Amble/Light/Amble-Light-webfont.woff') format('woff'),
  url('/fonts/Amble/Light/Amble-Light-webfont.ttf') format('truetype'),
  url('/fonts/Amble/Light/Amble-Light-webfont.svg#ambleLight') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* BigJohn */
@font-face {
  font-family: 'bigJohnRegular';
  src: url('/fonts/BigJohn/big_john-webfont.eot');
  src: url('/fonts/BigJohn/big_john-webfont.eot?#iefix') format('embedded-opentype'),
  url('./fonts/BigJohn/big_john-webfont.woff2') format('woff2'),
  url('/fonts/BigJohn/big_john-webfont.woff') format('woff'),
  url('/fonts/BigJohn/big_john-webfont.ttf') format('truetype'),
  url('/fonts/BigJohn/big_john-webfont.svg#bigJohnRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Typography */

body {
  font-size: 16px;
  letter-spacing: .05em;
  color: #222222;
  font-family: "ambleLight", "Raleway", Helvetica, Arial, sans-serif;
}
h1, h3, h5{
  font-family: "bigJohnRegular", "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h4 {
  font-size: 22px;
}
h3 {
  font-size: 28px;
}
