/* Global set up */

html, body{
  height: 100%;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
}

.col-md {
  padding: 0;
  margin: 0 20px 0 20px;
}

.col {
  padding: 0;
}

.row {
  margin: 5% 10% 5% 10%;
}

.hr2 {
  height: 2px;
  width: 8%;
  color: #000;
  background: #000;
  margin-top: 50px;
  margin-bottom: 50px;
}

.hr-orange {
  height: 2px;
  width: 14%;
  color: #d87843;
  background: #d87843;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  background: transparent;
  color: white;
  border-radius: 0;
}

/*Section introduction*/

.introduction {
  height: 51%;
  @extend .center;
}

/* Creativity */

.creativity {
  background: linear-gradient( rgba(0, 0 , 0, 0.5), rgba(0, 0, 0, 0.9)), url('/images/block_bg/creativity.jpg') no-repeat;
  background-size: cover;
  height: 51%;
  @extend .center;
}

/* Work section */

.work {
  margin: 90px 0 90px 0;
  @extend .center;

  ul li {
    list-style: none;
    margin: 0 20px 0 20px;
    display: inline-flex;
    font-size: 22px;
  }
  a {
    color: #1d1e1f;
    text-decoration: none;
  }

  a:hover {
    color: #808080;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

}

.img-work {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0;
  background: rgba(0,0,0,.75);
  color: #fff;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

  h3 {
    font-size: 16px;
    letter-spacing: .05em;
  }

  p {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

}

.work-items li:hover .img-work{
  opacity: 1;
  box-shadow: inset 0 0 0 10px #222;
}

.work-img-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Help section */

.help {
  background: linear-gradient( rgba(0, 0 , 0, 0.5), rgba(0, 0, 0, 0.9)), url('/images/block_bg/help.jpg') no-repeat;
  background-size: cover;
  height: 51%;
  @extend .center;
}

/* Clients */

.clients {
  margin: 90px 0 90px 0;
  height: 30%;
  ul {
    list-style: none;
  }
}

.clients img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clients img:hover {
  -webkit-filter: none;
  filter: grayscale(0%);

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;

}

/* About */

.about {
  margin: 0 0 90px 0;
  @extend .center;
  height: 75%;

  ul {
    list-style: none;
  }
  .row {
    padding-left: 55px;
  }
}


.img-about {
  margin: 2%;
  height: 161px;
  width: 162px;
  display: inline-block;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img-about:hover {
  -webkit-filter: none;
  filter: grayscale(0%);

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.overlay-about {
  visibility: hidden;
}

.img-about:hover .overlay-about {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.img-text-about {
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;

  h3 p {
    margin: 5px 0 0 0;
  }
}

.overlay-about a{
  position: absolute;
  top: 5%;
  right: 5%;

  i {
    color: #fff;
  }
}

.img-about:hover .overlay-about {
  visibility: visible;
  opacity: 1;
  border: 3px solid #000;
}

.hiring{
  margin: 2%;
  position: relative;
  height: 161px;
  width: 162px;
  text-align: center;
  border: 2px solid #d3d3d3;
  display:inline-block;
}

.hiring-text{
  position: absolute;
  top: 5%;
  left: 25%;
  text-align: center;
  width: 50%;
}

.hiring-btn{
  position:absolute;
  bottom: 15%;
  width: 100%;
  text-align:center;

  a {
    color: #000;
    border: 2px solid #000;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    background: #000;
  }
}

/* Choice part */

.choice {
  background: linear-gradient( rgba(0, 0 , 0, 0.5), rgba(0, 0, 0, 0.9)), url("/images/block_bg/video.jpg");
  width: 100%;
  height: 51%;
  @extend .center;
}

.fa-play-circle {
  font-size: 48px;
  color: white;
}

.fa-play-circle:hover {
  color: #888;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* Chose us */

.chose-us {
  margin: 90px 0 90px 0;
  @extend .center;
   ul {
     list-style: none;
   }
}

/* Quote section */

.quote {
  background: linear-gradient( rgba(0, 0 , 0, 0.5), rgba(0, 0, 0, 0.9)), url('/images/block_bg/quote.jpg') no-repeat;
  background-size: cover;
  height: 51%;
  @extend .center;
}

/* Get in touch */

.touch {
  margin: 90px 0 90px 0;
  @extend .center;
}

/*-------Handmade contact------*/

.contact{
  height: 51%;
  width: 100%;
  display: flex;
}

.contact .contact-location {
  width: 40%;
  float: left;
  padding: 60px 10px 10px 120px;
  background-color: #f2f2f2;
  height: 100%;

  p, span{
    font-style: italic;
    margin: 0;
  }

  ul li {
    display: inline-block;
  }
}

.form {
  width: 60%;
  float: left;
  background-color: #e4e4e4;
  padding: 60px 30px 10px 40px;
  height: 100%;
}

.contact input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

.contact .btn-secondary{
  text-align: center;
  border: 3px solid #808080;
  color: #808080;
  width: 120px;
  height: 60px;
  font-family:'Amble', sans-serif;
  margin-top: 30px;
}
.contact .btn-secondary:hover{
  border: 1px solid #808080;
  color: black;
}

/*-----Footer -------*/

footer {
  height: 51%;
  @extend .center;
  background-color: rgb(34,34,34);
  color: #fff;

  p {
    font-size: 14px;
    padding-top: 50px;
  }

  a {
    color: #D37822;
  }
}

/*-----Responsive fixing---------*/

@media screen and (max-width: 1140px) {
  .contact {
    display: block;
  }
  .contact-location {
    width: 100%;
    padding: 30px 30px 10px 20px;
    height: 100%;
  }
  .form {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5px 20px 5px 5px;
    height: 100%;
  }
}

@media screen and (max-width: 595px) {
  .contact {
    display: block;
  }
  .contact .contact-location {
    width: 100%;
    padding: 30px 30px 10px 20px;
    height: 100%;
  }
  .contact .form {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5px 20px 20px 5px;
    height: 100%;
  }

  .contact .btn-secondary{
    width: 120px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }
  .clients {
    height: 60%;
    text-align: center;
  }

  .about {
    text-align: center;
    height: 180%;
    margin: 90px 0 90px 0;

    .row{
      padding-left: 30px;
    }

  }
  .introduction {
    margin: 100px 0;
    height: 50%;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }

}

@media screen and (max-width: 400px) {
  .contact {
    display: block;
  }
  .contact .contact-location {
    width: 100%;
    padding: 30px 30px 10px 20px;
    height: 100%;
  }
  .contact .form {
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 5px 20px 5px 5px;
    height: 100%;
  }

  .contact .btn-secondary{
    width: 120px;
    height: 50px;
    text-align: center;
    justify-content: center;
  }

  .clients {
    margin: 90px 0 90px 0;
    height: 70%;
    display: block;
  }

  .about {
    text-align: center;
    height: 180%;
    margin: 90px 0 90px 0;

    .row{
      padding-left: 10%;
    }

  }

}

